nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 60px 10px 80px;
  position: fixed;
  background: #1c1c1c;
  z-index: 10;
}

.navButton {
  display: flex;
  margin: 10px 30px;
  gap: 40px;
  font-size: larger;
  font-weight: 800;
  color: #0d9488;
  a {
    text-decoration: none;
    color: #0d9488;
  }
}
