nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;

}

.logo{
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  border-radius: 50%;

  img {
    width: 100%;
    padding: 0 .9rem .9rem .9rem;
  }
}

.navButton {
  display: flex;
  margin: 10px 30px;
  gap: 40px;
  font-size: larger;
  font-weight: 800;
  a {
    text-decoration: none;
    color: var(--text-color);
  }
}
