*,
::after,
::before {
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: montserrat;
  line-height: 1.6;
  font-size: 20px;

  color: #cecece;
  background-color: #1c1e22;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

i {
  font-family: montserrat-italic;
  font-size: 1.2rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section:nth-child(odd) {
  background-color: #1c1c1c;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

@font-face {
  font-family: alexBrush;
  src: url(assets/fonts/AlexBrush-Regular.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: montserrat-italic;
  src: url(assets/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
