#reservation h3 {
  margin-bottom: 6rem;
}
#reservation .row {
  margin-top: 4rem;
  align-items: center;
  gap: 2rem;
}

.before-reservation {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-family: monserrat-bold;
  flex: 2;
}

.before-reservation .more-info {
  font-size: 2rem;
}

.before-reservation p {
  margin-bottom: 4rem;
}

.redirection-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.redirection-btn a {
  text-decoration: none;
  font-family: montserrat-bold;
  display: flex;
  align-items: center;
}

.reservation-button {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logoWhatsApp {
  font-size: 2.5rem;
  color: #1b8755;
}

.logoEnveloppe {
  font-size: 2.5rem;
}

.shiba-img {
  flex: 1;
}

.shiba-img img {
  height: 680px;
  width: 480px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  box-shadow: 4px 4px 10px 0px #000000c4;
}
