#laKinesiologie .row {
  gap: 8rem;
}

.array {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.array-benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 5rem;
  position: relative;
}

.array-benefits .first-row-benefit,
.third-row-benefit {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.array-benefits .second-row-benefit {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.array-benefits .benefit-one,
.benefit-two,
.benefit-three,
.benefit-four,
.benefit-five,
.benefit-six {
  width: 230px;
  height: 230px;
  position: relative;
}

.array-benefits :is(img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 4px 4px 10px 0px #000000c4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s ease-in-out;
}

.array-benefits :is(img):hover {
  transform: translate(-50%, -50%) scale(1.2);
}

.array-benefits .first-row-benefit span,
.second-row-benefit span,
.third-row-benefit span {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1.5rem;
  border-radius: 4rem;
  font-family: montserrat-bold;
  font-size: 0.8rem;
  color: #ffffff;
  background: #000000c4;
  box-shadow: 4px 4px 10px 0px #000000c4;
  z-index: 1;
}

.diagramme {
  flex: 2;
}

.content-text-kinesio {
  flex: 1;
  height: 100%;
}

.content-text-kinesio .contener-text {
  padding: 1.5rem 1.5rem;
  margin-bottom: 3rem;
  border-radius: 35px;
  background: #e0dfdf;
  box-shadow: 4px 4px 10px 0px #000000c4;

  position: relative;
  overflow: hidden;
}
.content-text-kinesio .contener-text .sub-title,
.content-text-kinesio .contener-text .text-kinesio {
  position: relative;
  z-index: 1;
}

.content-text-kinesio .background-circle-one {
  width: 850px;
  height: 850px;
  border-radius: 50%;
  background: #c8d6e2;
  position: absolute;
  top: -770px;
  left: -400px;
}

.content-text-kinesio .background-circle-tow {
  width: 850px;
  height: 850px;
  border-radius: 50%;
  background: #c8d6e2;
  position: absolute;
  top: 120px;
  left: -80px;
}

.content-text-kinesio .contener-text h4 {
  margin-bottom: 2rem;
}

@media screen and (max-width: 1200px) {
  .secondary-btn {
    position: relative !important;
    margin-top: 1rem;
  }

  .array-benefits .second-row-benefit {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .array {
    max-width: 80%;
  }

  .array-benefits .benefit-one,
  .benefit-two,
  .benefit-three,
  .benefit-four,
  .benefit-five,
  .benefit-six {
    width: 150px;
    height: 150px;
  }

  .array-benefits .first-row-benefit,
  .second-row-benefit .third-row-benefit {
    width: 70%;
  }

  .content-text-kinesio .background-circle-one {
  width: 850px;
  height: 850px;
  top: -770px;
  left: -400px;
}

  .content-text-kinesio .background-circle-tow {
    width: 750px;
    height: 750px;
    top: 220px;
    left: -130px;
  }
}

@media screen and (max-width: 768px) {
  #laKinesiologie .row {
    flex-direction: column;
  }

  .content-text-kinesio {
    order: 1;
  }

  .diagramme {
    width: 100%;
    order: 2;
  }

  .array-benefits {
    gap: 4rem;
  }

  .array-benefits .first-row-benefit,
  .second-row-benefit,
  .third-row-benefit {
    width: 80% !important;
  }

  .array-benefits .main-content {
    position: relative;
    margin-top: 1rem;
  }

  .content-text-kinesio .background-circle-tow {
    width: 750px;
    height: 750px;
    top: 90px;
    left: 90px;
  }
}

@media screen and (max-width: 640px) {
  .array-benefits .benefit-one,
  .benefit-two,
  .benefit-three,
  .benefit-four,
  .benefit-five,
  .benefit-six {
    width: 120px;
    height: 120px;
  }

  .content-text-kinesio .background-circle-tow {
    width: 750px;
    height: 750px;
    top: 130px;
    left: -50px;
  }
}
