.textImage p:first-child {
  margin-bottom: 3rem;
}
p {
  margin-bottom: 0.7rem;
}

.text img {
  width: 50%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  float: right;
  shape-outside: margin-box;
  margin: 0 0 0.6rem 1rem;
}
