#contact {

  .row {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.informations {
  h3 {
    text-decoration: underline;
    padding-bottom: 2rem;
  }
  div {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.icon{

  img{
    width: 2rem;
    height: 2rem;
  }

  svg {
  width: 2rem;
  height: 2rem;
}
}


.googleMap {
  width: 40rem;
  height: 25rem;
  background: #000;
}
