.gSale {
  margin: 4rem auto !important;
}

.gSale h3 {
  margin: 2rem 0 1rem 0;
}

.gSale .CGS-info {
  margin: 1rem 2rem;
}

.gSale .underline {
  text-decoration-line: underline;
}

.gSale .bold {
  font-family: montserrat-bold;
}
