footer {
  height: 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  padding: 2rem 3rem;
  text-align: center;
  background: var(--bg-color);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links .offset {
  margin-right: 8.88rem;
}

.links .interne-link-buttons .link {
  padding-left: 1rem;
  display: inline-block;
  gap: 10px;
}

.links .logo-goreconnect {
  max-width: 5rem;
}

.links .social-logos {
  display: flex;
}

.links .social-logos a {
  margin-left: 1rem;
}

.links .social-logos a img {
  max-width: 4rem;
}

.central-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.central-links > div > span {
  margin-right: 0.5rem;
}

@media screen and (max-width: 640px) {
  .links img {
    width: 3rem;
  }
}

@media screen and (max-width: 840px) {
  footer {
    padding: 1rem 2rem;
  }
  .links .logo-goreconnect {
    max-width: 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .interne-link-buttons {
    display: none;
  }
}

@media screen and (max-width: 1120px) {
  .links .offset {
    margin-right: 0;
  }
}
