footer {
  height: 15rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  text-align: center;
  background: #1c1c1c;
}

.textCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  font-size: 16px;
}

.lienNavigation{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;

  > div {
    padding: .3rem;
  }
}

.lienCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.lienCenter > div > span {
  margin-right: 0.5rem;
}

.logoKa25 {
  width: 3rem;
  height: 3rem;
}

.logos {
  display: flex;
  gap: 1.3rem;

  img {
    width: 70px;
    height: 70px;
  }
}
